<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .card1{
            border: 2px solid black;
            width: 350px;
            height: 300px;
        }
        body{
            background-color: rgb(83, 226, 231);
        }
    </style>
    <div class="card1">
        <h1>Name: {{ ctx_book.name }}</h1>
        <h1>Description: {{ ctx_book.description }}</h1>
        <h1>Lists: {{ ctx_book.list_count }}</h1>
        <h1>Rate: {{ ctx_book.rate }}</h1>
        <h1>Price: {{ ctx_book.price }}</h1>
    </div>
</body>
</html>