<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .card{
            border: 2px solid black;
            width: 350px;
            height: 300px;
        }
        body{
            background-color: rgb(103, 231, 83);
        }
    </style>
    {% for i, b in ctx_books %}
        <div class="card">
            <h1>{{ b.name }}</h1>
            <h2>{{ b.description }}</h2>
            <h2>{{ b.list_count }}</h2>
            <h2>{{ b.rate }}</h2>
            <h2>{{ b.price }}</h2>
            <a href="/{{i}}">More Info</a>
        </div>
    {% endfor %}
</body>
</html>